/* Sidebar Styles */

aside {
    height: 100vh;
    position: sticky;
    top: 0;
}

aside h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #343a40;
    padding-bottom: 10px;
    border-bottom: 2px solid #007bff;
}

aside .nav-link {
    color: #343a40;
    padding: 8px 0;
    transition: color 0.3s ease;
}

aside .nav-link:hover {
    color: #007bff;
}


/* Custom Sidebar Width */

aside {
    width: 180px;
    /* Adjust as needed */
    max-width: 200px;
}

main {
    flex: 1;
}